<settings>
    <category label="Playback">
        <setting id="use_inputstream" type="bool" label="Use inputstream.adaptive for playback" default="true" />
    </category>
    <category label="Log Notifications">
        <setting id="debug" type="bool" label="Enable debug logging" default="false" />
    </category>
</settings>
